h1,
h2 {
	color: #64c4b3;
}

.sayHi {
	font-size: x-large;
}

/*subtitle*/

.row .subtitle_container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.subtitle {
	border-bottom: #64c4b3 solid 0.2rem;
	width: 70vw;
	font-size: x-large;
}

/*practicas*/

.row .containers_practicas {
	margin-top: 0.7rem;
	margin-bottom: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn.Btn-practicas {
	width: 70vw;
	height: 10vh;
	text-align: left;
	padding-left: 2.5rem;
	font-family: "Quicksand", sans-serif;
	font-weight: bolder;
	border-radius: 5px;
	overflow: hidden;
}

.btn.Btn-practicas.habilitada {
	color: rgb(52, 34, 121);
	border: 2px solid #64c4b3;
	background: linear-gradient(#7d6dbe, #50408e);
}

.btn.Btn-practicas.inhabilitada {
	color: rgb(36, 36, 37);
	border: 2px solid rgb(36, 36, 37);
	background: linear-gradient(rgb(79, 79, 80), rgb(52, 52, 53));
}

/*validar practicas*/

#practica1Box .indicator1,
#practica2Box .indicator2,
#practica3Box .indicator3,
#practica4Box .indicator4,
#practica5Box .indicator5 {
	display: inline-block;
	margin-left: 85%;
	width: 10px;
	height: 10px;
	background: rgb(52, 52, 53);
	box-shadow: 0 0 5px rgb(52, 52, 53), 0 0 10px rgb(52, 52, 53),
		0 0 20px rgb(52, 52, 53), 0 0 40px rgb(52, 52, 53);
	border-radius: 50%;
}

@media (max-width: 950px) {
	#practica1Box .indicator1,
	#practica2Box .indicator2,
	#practica3Box .indicator3,
	#practica4Box .indicator4,
	#practica5Box .indicator5 {
		margin-left: 75%;
	}
}

@media (max-width: 626px) {
	#practica1Box .indicator1,
	#practica2Box .indicator2,
	#practica3Box .indicator3,
	#practica4Box .indicator4,
	#practica5Box .indicator5 {
		margin-left: 65%;
	}
}

#practica1Box.valid .indicator1,
#practica2Box.valid .indicator2,
#practica3Box.valid .indicator3,
#practica4Box.valid .indicator4,
#practica5Box.valid .indicator5 {
	background: #64c4b3;
	box-shadow: 0 0 5px #64c4b3, 0 0 10px #64c4b3, 0 0 20px #64c4b3,
		0 0 40px #64c4b3;
}

/*practica1*/
.containerRow1,
.containerRow2 {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*practica 5*/
.btn.box_color {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin: 0.5rem 2rem;
}

@media (max-width: 829px) {
	.btn.box_color {
		width: 125px;
		height: 125px;
		margin: 0.5rem 0.5rem;
	}
}

@media (max-width: 500px) {
	.btn.box_color {
		width: 100px;
		height: 100px;
		margin: 0.5rem 0.5rem;
	}
}

.btn.azul {
	background-color: rgb(8, 41, 190);
	box-shadow: 10px 5px 5px rgb(6, 34, 161);
}

.azul:hover {
	background-color: rgb(19, 53, 202);
	box-shadow: 10px 5px 5px rgb(10, 41, 182);
}

.btn.rojo {
	background-color: rgb(223, 11, 11);
	box-shadow: 10px 5px 5px rgb(201, 8, 8);
}

.rojo:hover {
	background-color: rgb(235, 22, 22);
	box-shadow: 10px 5px 5px rgb(223, 13, 13);
}

.btn.verde {
	background-color: rgb(8, 190, 8);
	box-shadow: 10px 5px 5px rgb(6, 175, 6);
}

.verde:hover {
	background-color: rgb(14, 207, 14);
	box-shadow: 10px 5px 5px rgb(9, 197, 9);
}

.btn.naranja {
	background-color: rgb(214, 125, 16);
	box-shadow: 10px 5px 5px rgb(192, 110, 9);
}

.naranja:hover {
	background-color: rgb(230, 137, 25);
	box-shadow: 10px 5px 5px rgb(218, 128, 18);
}
